nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(157, 232, 44);
  padding-bottom: 5px;
  height: 100px;
}

nav h1 {
  margin-left: 50px;
  font-size: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li a {
  color: black;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: white;
}

nav button {
  background-color: transparent;
  border-style: solid;
  padding: 10px 10px;
  border-radius: 12px;
  margin-right: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color, border-color 0.2s;
}

nav button:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: white;
}
