@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url(navbar.css);
@import url(sections/hero.css);
@import url(sections/about-section.css);
@import url(sections/footer.css);
@import url(sections/videos-section.css);
@import url(views-css/contact-page.css);
@import url(sections/website-section.css);

:root {
  --ROM: "Roboto Mono", monospace;
  --QCS: "Quicksand", sans-serif;
}

/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--QCS);
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  /* pour stop le scroll horizontal  */
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  background-color: pink;
  color: black;
}

/* others */
.scrollUpBtn{
  position: fixed;
  right: 10px;
  top: 885px;
  background-color: white;
  border: white;
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  width: 40px;
} 

.scrollUpBtn i{
  color: black;
  font-size: large;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}