header {
  background-image: url(../../assets/pexels-andrew-3178786.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 892px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2,
header h1 {
  color: white;
  padding-bottom: 10px;
}

header h2 {
  font-size: 1.6rem;
}

header h1 {
  font-size: 5rem;
}

i {
  color: white;
}
